.level-container {
  margin: 20px;
}

.level-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.level-button {
  background-color: #ff6347;
  color: #fff;
  padding: 90px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.level-button[disabled] {
  /* Estilos para o botão desabilitado */
  background-color: #dddddd; /* Cor de fundo para desabilitado */
  color: #666666; /* Cor do texto para desabilitado */
  cursor: not-allowed; /* Cursor para indicar que o botão está desabilitado */
}

.level-button:hover {
  background-color: #d84315; 
}

.level-button[disabled]:hover {
  background-color: #5c5856; 
}
