body {
    background-color: white;
}
 
.panel {
    margin-top: -3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 
.question {
    font-size: 30px;
    margin-bottom: 20px;
}
 
.options {
    font-size: 25px;
}
 
button {
    margin-top: 8%;
    font-size: 20px;
    padding: 10px 20px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
}
 
#score {
    font-size: 30px;
    color: darkslategray;
}

#logo{

    transform: scaleX(0.5) scaleY(0.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}